In [1]:
import pandas as pd

In [2]:
pd.read_html('ncdcgov.html')

[   States Affected  No. of Cases (Lab Confirmed)  No. of Cases (on admission)  \
 0            Lagos                          4943                         4064
 1             Kano                           954                          669
 2              FCT                           660                          459
 3          Katsina                           364                          282
 4              Oyo                           292                          189
 5              Edo                           284                          202
 6             Ogun                           278                          120
 7            Borno                           271                           78
 8           Jigawa                           270                          130
 9           Kaduna                           258                           93
 10          Bauchi                           238                           10
 11          Rivers                           206                          133
 12           Gombe                           161                           33
 13          Sokoto                           116                            6
 14         Plateau                           105                           50
 15           Kwara                            88                           50
 16           Delta                            83                           58
 17         Zamfara                            76                            0
 18        Nasarawa                            62                           42
 19            Yobe                            52                           21
 20       Akwa Ibom                            45                           29
 21            Osun                            45                            6
 22          Ebonyi                            40                           32
 23         Adamawa                            38                           14
 24             Imo                            36                           22
 25           Kebbi                            33                            0
 26           Niger                            32                           22
 27            Ondo                            25                            3
 28         Bayelsa                            21                           13
 29           Ekiti                            20                            2
 30           Enugu                            18                            6
 31          Taraba                            18                            8
 32         Anambra                            11                            7
 33            Abia                            10                            7
 34           Benue                             7                            6
 35            Kogi                             2                            2

     No. Discharged  No. of Deaths
 0              825             54
 1              240             45
 2              182             19
 3               68             14
 4               97              6
 5               69             13
 6              149              9
 7              167             26
 8              135              5
 9              157              8
 10             220              8
 11              59             14
 12             122              6
 13              96             14
 14              53              2
 15              37              1
 16              17              8
 17              71              5
 18              18              2
 19              24              7
 20              14              2
 21              35              4
 22               8              0
 23              20              4
 24              14              0
 25              29              4
 26               9              1
 27              20              2
 28               7              1
 29              16              2
 30              12              0
 31              10              0
 32               3              1
 33               3              0
 34               1              0
 35               0              0  ]

In [4]:
pd.read_csv('ridwan.csv')

,States Affected,No. of Cases (Lab Confirmed),No. of Cases (on admission),No. Discharged,No. of Deaths
0,Lagos,"5,767","4,756",944,67
1,Kano,999,501,450,48
2,FCT,952,664,265,23
3,Edo,401,268,109,24
4,Katsina,395,176,199,20
5,Oyo,365,246,112,7
6,Borno,356,142,188,26
7,Ogun,355,156,186,13
8,Kaduna,343,127,206,10
9,Rivers,332,175,136,21
10,Bauchi,291,58,224,9
11,Jigawa,283,125,153,5
12,Gombe,217,72,135,10
13,Delta,148,105,35,8
14,Kwara,135,89,45,1
15,Sokoto,129,14,101,14
16,Plateau,115,29,84,2
17,Nasarawa,112,76,31,5
18,Ebonyi,103,78,25,0
19,Abia,83,76,7,0
20,Zamfara,76,0,71,5
21,Imo,68,49,19,0
22,Yobe,52,20,25,7
23,Osun,49,7,38,4
24,Akwa Ibom,45,29,14,2
25,Niger,44,17,26,1
26,Adamawa,42,11,27,4
27,Ondo,42,14,21,7
28,Kebbi,35,2,29,4
29,Enugu,30,15,14,1
30,Bayelsa,30,19,8,3
31,Anambra,29,25,3,1
32,Ekiti,29,9,18,2
33,Taraba,18,8,10,0
34,Benue,13,12,1,0
35,Kogi,3,3,0,0